<!--検索フォーム-->

<div class="container">
  <div class ="row">
    <div class="col-md-12">
      <%= form_with url: admin_spot_search_path, method: :get, local: true do |f| %>
        <div>スポット名</div>
        <%= f.text_field :keyword %>
        <div>タグ</div>
        <%= f.collection_select :tag, @tags, :name, :name, prompt: "選択してください" %>
        <%= f.submit "検索" %>
      <% end %>
     </div>
  </div>
</div>
<!--/検索フォーム-->

<!--登録済み観光地を一覧表示-->
<div class="container">
  <div class ="row">
    <div class="col-md-12 text-left">
      <h3>検索結果</h3>
      <table class="table table-sm">

        <tr>
          <th>画像</th>
          <th>地名</th>
          <th>タグ</th>
          <th></th>
          <th></th>
        </tr>

        <% @spot.each do |spot| %>
        <tr>
          <td><%= attachment_image_tag spot, :image, class: "image-small", fallback: "no_image.png" %> </td>
          <td class="align-middle"><%= spot.spot_name %></td>
          <td class="align-middle"><%= spot.tag_list %></td>
          <td class="align-middle"><%= link_to "編集", edit_admin_spot_path(spot.id), class: "btn btn-success" %></td>
          <td class="align-middle"><%= link_to "削除", admin_spot_path(spot.id), method: :delete, class: "btn btn-danger" %></td>
        </tr>
        <% end %>

      </table>
    </div>
  </div>
</div>
<!--/登録済み観光地を一覧表示-->

<!--ページネーション-->
<div class="container">
  <div class ="row">
    <div class="col-md-12 d-flex justify-content-center">
      <%= paginate @spot %>
    </div>
  </div>
</div>
<!--/ページネーション-->