<!DOCTYPE html>
<html>
  <head>
    <title>Joy-ney!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/a6e197d565.js" crossorigin="anonymous"></script>

    <%= include_gon %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="header">
      <div class="container m-0">
        <div class ="row">

          <div class="col-md-6 text-left">
            <%= link_to root_path do %>
              <h2>Joy-ney!</h2>
            <% end %>
            <h4>~Enjoy your own journey~</h4>
          </div>

          <div class="col-md-6 text-right">
            <% if admin_signed_in? %>
              <p><strong><%= "管理者ログイン中" %></strong></p>
              <p>
                <%= link_to "スポット登録", new_admin_spot_path, class: "btn btn-primary" %>
                <%= link_to "スポット一覧", admin_spots_path, class: "btn btn-success" %>
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-danger" %>
              </p>
            <% end %>

          </div>
        </div>
      </div>
    </header>

    <%= yield %>

    <footer class="footer">
      <div class="container">
        <div class ="row">
          <div class="col-md-12 text-center mx-auto">
            <h4>©DMM WEB CAMP</h4>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
