<!DOCTYPE html>
<html>
  <head>
    <title>Joy-ney!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/a6e197d565.js" crossorigin="anonymous"></script>

    <%= include_gon %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="header">
      <div class="container m-0 pl-5">
        <div class ="row">

          <div class="col-md-5 text-left">
            <%= link_to root_path do %>
              <p class="title m-0">Joy-ney!</p>
            <% end %>
              <p class="title-flavor m-0">~Enjoy your own journey~</p>
          </div>

          <div class="col-md-7 text-center">
            <% if admin_signed_in? %>
              <strong><span class="bg-light text-danger"><%= "管理者ログイン中" %></span></strong>
              <%= link_to "スポット登録", new_admin_spot_path, class: "btn btn-primary" %>
              <%= link_to "スポット一覧", admin_spots_path, class: "btn btn-success" %>
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-danger" %>
          </div>
            <% end %>

          </div>
        </div>
      </div>
    </header>

    <%= yield %>

    <footer class="footer">
      <p class="footer-text text-center">©DMM WEB CAMP</p>
    </footer>

  </body>
</html>
